
@import '../variables';

.some-class {
  min-height: 50vh;
  background-color: rgba(218, 165, 32, 0.4);
}


.oneline {
  white-space: nowrap;
  float: left;
  display: inline;
  * {
    white-space: nowrap;
    float: left;
    display: inline;
  }
}