:root {
  --bs-light-rgb: 245, 251, 255;
  --bs-dark-rgb: 0, 31, 51;
  --bs-body-line-height: 1.333;
  --color-active-hex: #b3e0ff;
  --color-green-lg: #fcfdf7;
  --color-green-md: #e8ff94;
  --color-skyblue: #00aeff;
  --color-dark: #003759;
  --color-darker: #002033;
  --color-primary-dark-sat1: #002033;
  --color-teal: #21747A;
  --color-teal--medium: #6AA4AC;
}

.article-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .article-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

article.article .drop-cap::first-letter {
  float: left;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 0.65;
  margin: 0.15em 0.1em 0.1em 0;
}

article.article .article-header {
  margin-bottom: 3rem;
}

article.article.readable-width {
  max-width: 40em;
}

article.article.readable-width p {
  text-align: justify;
}

article.article figure img, article.article .figure img {
  line-height: 1;
  margin-bottom: 0;
}

article.article figure figcaption, article.article .figure figcaption {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  article.article .indented-figure {
    --fig-indentation: $indentation;
    width: 61.8%;
    margin: 1.5rem;
  }
  article.article .indented-figure:nth-child(even) {
    float: left;
    margin-left: var(--fig-indentation, -3rem);
  }
  article.article .indented-figure:nth-child(odd) {
    float: right;
    margin-right: var(--fig-indentation, -3rem);
  }
}

@media (min-width: 992px) {
  article.article .indented-figure {
    --fig-indentation: -6rem;
  }
}

article.article .article-body.rich-text h1 {
  font-size: 1.95312em;
}

article.article .article-body.rich-text h2 {
  font-size: 1.5625em;
}

article.article .article-body.rich-text h3 {
  font-size: 1.25em;
}

article.article .article-body.rich-text h4 {
  font-size: 1em;
}

article.article .article-body.rich-text h5 {
  font-size: 1em;
}

@media (min-width: 992px) {
  article.article .article-body.rich-text h1 {
    font-size: 2.36859em;
  }
  article.article .article-body.rich-text h2 {
    font-size: 1.77689em;
  }
  article.article .article-body.rich-text h3 {
    font-size: 1.333em;
  }
  article.article .article-body.rich-text h4 {
    font-size: 1em;
  }
  article.article .article-body.rich-text h5 {
    font-size: 1em;
  }
}

article.article .article-body.rich-text .lonley-img {
  max-width: 100%;
  height: auto;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  line-height: 1;
}

@media (min-width: 768px) {
  article.article .article-body.rich-text p > img, article.article .article-body.rich-text .lonley-img, article.article .article-body.rich-text figure {
    --fig-indentation: $indentation;
    width: 61.8%;
    margin: 1.5rem;
  }
  article.article .article-body.rich-text p > img.float-left, article.article .article-body.rich-text .lonley-img.float-left, article.article .article-body.rich-text figure.float-left {
    float: left;
    margin-left: var(--fig-indentation, -3rem);
  }
  article.article .article-body.rich-text p > img.float-right, article.article .article-body.rich-text .lonley-img.float-right, article.article .article-body.rich-text figure.float-right {
    float: right;
    margin-right: var(--fig-indentation, -3rem);
  }
}

@media (min-width: 992px) {
  article.article .article-body.rich-text p > img, article.article .article-body.rich-text .lonley-img, article.article .article-body.rich-text figure {
    --fig-indentation: -6rem;
  }
}
/*# sourceMappingURL=article.css.map */