
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@mixin headings {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }  
}





$line-height-narrow: 0.95;

$screen-size-md: 768px;
$screen-size-lg: 992px;

// COLORS

$color-light: rgb(245, 251, 255);
$color-active: hsl(204, 100%, 85%);
$color-light-rgb: 245, 251, 255;

$color-green-lg: hsl(73, 60%, 98%);
$color-green-md: hsl(73, 100%, 79%);

// $color: rgb(251, 253, 247);
$color-skyblue: rgb(0, 174, 255);
// $color-dark: hsl(198, 19%, 15%);
$color-dark: #003759; // #002033
$color-darker: #002033; // hsl(203, 40%, 15%);
$color-dark-sat1: #002033; // hsl(203, 40%, 15%);

$color-teal: #21747A;
$color-teal--medium: #6AA4AC;

//  SHADOWS
$shadow-white-md: inset 0 0 1rem white;
$shadow-ambient-md: 0 0.2rem 1rem rgba(0, 0, 0, .10);
$shadow-key-md: 0 0.15rem 0.2rem rgba(0, 0, 0, .15);



:root {
  --bs-light-rgb: 245, 251, 255;
  --bs-dark-rgb: 0, 31, 51; // 31, 41, 46;
  --bs-body-line-height: 1.333;
}





$navbar-expand: $screen-size-md;