

@import '../../styles/variables';

.react-carousel-container {
  @media (max-width: 370px) {
    margin: 0 -#{$container-padding-x};
    .react-carousel-info {
      margin: 0 #{$container-padding-x};
    }
  }
  .react-carousel-info {
    .info {
      display: block;
      text-align: right;
    }
    .info-touch {
      display: none;
      text-align: center;
    }
    @media (hover: none) {
      .info {
        display: none;
      }
      .info-touch {
        display: block;
      }
    }
  }
}


.offer-card-col {
  $width: 20rem;  
  display: flex;
  flex-direction: column;
  padding: map-get($spacers, 4 ) map-get($spacers, 1 );

  .offer-card {
    min-height: 1.618*$width;
  }
  @media (min-width: 330px) {
    padding: map-get($spacers, 4 ) map-get($spacers, 2 );
    .offer-card {
      min-width: $width;
      max-width: $width;
      min-height: 1.618*$width;
      max-height: 1.618*$width;
    }
  }
}

// OFFER CARD STYLES
.offer-card {
  // ZMIENNE
  $padding: map-get($spacers, 4 );
  $offer-card-color: $color-teal;

  // SELF
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  background-image: url('../../assets/images/offer-plant--prod.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &, .card-inner {
    padding: $padding;
  }
  .card-inner {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background: rgba(255, 255, 255, 0.8);
    border: .1115em solid rgba($offer-card-color, 0.25);
  }

  .card-title {
    color: $offer-card-color;
  }
  @include headings {
    color: $offer-card-color;
  }
  .card-head {
    margin-bottom: map-get($spacers, 3);
    flex: 2 1 auto;
  }
  .card-body {
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-top: map-get($spacers, 3);
    padding: 0;
  }
  .sticky-note {
    background-color: desaturate(lighten($color-teal, 63%), 10%);
    border: 1px solid desaturate(lighten($color-teal, 55%), 30%);
    display: block;
    width: fit-content;
    max-width: 100%;
    padding: .5em;
    box-shadow: 
      $shadow-key-md;
  }

}

// MULTICAROUSEL STYLES
.react-carousel-container {
  $arrow-margin: .16rem;
  .react-multiple-carousel__arrow--left::before {
    margin-right: $arrow-margin;    
  }
  .react-multiple-carousel__arrow--right::before {
    margin-left: $arrow-margin;  
  }

  .card-container {
    display: flex;  
    justify-content: center;
  }  
  .cards-dots-controls {
    position: static;
    margin-top: map-get($spacers, 4 ); 

    .react-multi-carousel-dot {
      button, button:hover:active {
        border-radius: 0;
        box-sizing: content-box;
        // flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgb(0, 0, 0);
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
      }
      
    }
    .react-multi-carousel-dot--active {
      button, button:hover:active {
        opacity: 1;        
      }
    }
  }
}




.circle-image-card {
  p {
    text-align: justify;
  }
}
